#free-pokemon-container {
    position: relative;
}

#pokemon-to-free {
    position: absolute;
    top: -25%;
    right: 45%;
    transform: scale(2);
    animation: move-circle-disappear 2.5s normal linear forwards;
}

@keyframes move-circle-disappear {
    0% {
        transform: translateY(0) scale(2);
    }

    10% {
        transform: translateY(65vh) scale(2) rotate(-60deg);
    }

    55% {
        transform: translateY(75vh) scale(1) rotate(-760deg);
    }

    99% {
        transform: translateY(75vh) scale(0.2) rotate(-1660deg);
    }

    100% {
        transform: scale(0);
    }
}
