#free-pokemon-container {
    position: relative;
}

#pokemon-to-free {
    position: absolute;
    top: -25%;
    right: 45%;
    transform: scale(2);
    animation: move-circle-disappear 2.5s normal linear forwards;
}

@keyframes move-circle-disappear {
    0% {
        transform: translateY(0) scale(2);
    }

    10% {
        transform: translateY(65vh) scale(2) rotate(-60deg);
    }

    55% {
        transform: translateY(75vh) scale(1) rotate(-760deg);
    }

    99% {
        transform: translateY(75vh) scale(0.2) rotate(-1660deg);
    }

    100% {
        transform: scale(0);
    }

    /* from {
        transform: translateY(0%) scale(2) rotate(0deg);
      }
      to {
        transform: translateY(200%) scale(0.8) rotate(1600deg);
      } */
    /* 25% {
        transform: translateY(200%) scale(1.8) rotate(-80);
    }
    30% {
        transform: translateY(200%) scale(1.6) rotate(-100deg);
    }
    35% {
        transform: translateY(200%) scale(1.4) rotate(-120);
    }
    40% {
        transform: translateY(200%) scale(1.2) rotate(-140deg);
    }
    45% {
        transform: translateY(200%) scale(1) rotate(-160deg);
    }
    50% {
        transform: translateY(200%) scale(0.8) rotate(-180deg);
    }
    55% {
        transform: translateY(200%) scale(0.6) rotate(-200);
    } */

    /* 20% {
        transform: translateY(0) scale(2.2);
    }

    100% {
        transform: translateY(0) scale(2.2);
    } */
/* 
    0% {
        transform: translateY(0) scale(2.2);
    }

    20% {
        transform: translateX(4px) translateY(4px) scale(2);
    }

    40% {
        transform: translateX(8px) translateY(-8px) scale(1.8);
    } */

    /* 100% {
        transform: translateY(-5px) scale(2.2);
    } */
}
