#pokeball {
  position: absolute;
  width: 2.5em;
  /* left: 10%;
  bottom: -10%; */
  /* transform: scale(5); */
  animation: throw-pokeball 4s normal linear forwards;
}

@keyframes throw-pokeball {

  /* Lanza */
  0% {
      transform: translateY(40vh) scale(5);
  }

  /* Recorrido al pokemon */
  7% {
    transform: translateY(10vh) translateX(35vw) scale(3) rotate(-150deg);
  }
  15% {
    transform: translateY(30vh) translateX(70vw) rotate(-220deg);
  }

  /* pega en el pokemon */
  20% {
    transform: translateY(15vh) translateX(70vw) rotate(-880deg);
  }

  /* Cae al suelo */
  30% {
    transform: translateY(60vh) translateX(68vw) rotate(-1680deg);
  }

  35% {
    transform: translateY(55vh) translateX(68vw) rotate(-1660deg);
  }

  40% {
    transform: translateY(60vh) translateX(68vw) rotate(-1660deg);
  }

  55% {
    transform: translateY(60vh) translateX(68vw) rotate(-1680deg);
  }

  65% {
    transform: translateY(60vh) translateX(68vw) rotate(-1660deg);
  }

  70% {
    transform: translateY(60vh) translateX(68vw) rotate(-1680deg);
  }

  80% {
    transform: translateY(60vh) translateX(68vw) rotate(-1660deg);
  }

  90% {
    transform: translateY(60vh) translateX(68vw) rotate(-1680deg);
  }

  100% {
    transform: translateY(60vh) translateX(68vw) rotate(-1660deg);
  }
}

.front-pokemon-battle-name {
  position: absolute;
  color: white;
  background: black;
  border-radius: 3px;
  padding-right: 10%;
  padding-left: 10%;
  right: 0;
  top: 0;
  z-index: 20;
  font-size: 1.5em;
  text-transform: capitalize;
}

#button-catch {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
}

#button-not-catch {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  right: 30%;
  font-size: 2em;
}

