.pokemon-sprite-menu {
    height: 30.5vh;
    transform: scale(1.1);
    overflow: hidden;
}

.animate-pokemon-menu {
    height: 30.5vh;
    transform: scale(1.2);
    overflow: hidden;
    animation: move-menu 0.2s infinite alternate;
}

@keyframes move-menu {
    0% {
        transform: translateY(0) scale(1.2);
        ;
    }

    100% {
        transform: translateY(-.5px) scale(1.2);
        ;
    }
}

.front-pokemon-battle {
    position: absolute;
    height: 30vh;
    right: 18%;
    bottom: 35%;
    animation: move-battle 0.2s infinite alternate;
}

.back-pokemon-battle {
    position: absolute;
    height: 60vh;
    left: 8%;
    bottom: -10%;
    animation: move-battle 0.2s infinite alternate;
    overflow: hidden;
}

@keyframes move-battle {
    0% {
        transform: translateY(0) scale(2.2);
    }

    100% {
        transform: translateY(-.5px) scale(2.2);
    }
}


#bright {
    height: 30.5vh;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(0) invert(1);
}