.pokemon-sprite-menu {
    height: 15vh;
    transform: scale(1.1);
    overflow: hidden;
}

.animate-pokemon-menu {
    height: 15vh;
    transform: scale(1.2);
    overflow: hidden;
    animation: move-menu 0.2s infinite alternate;
}

@keyframes move-menu {
    0% {
        transform: translateY(0) scale(1.2);
        ;
    }

    100% {
        transform: translateY(-.5px) scale(1.2);
        ;
    }
}

#scale-selectable {
   height: 50vw;
   transform: scale(1.1);
}

.front-pokemon-battle {
    position: absolute;
    height: 30vw;
    right: 10%;
    bottom: 50%;
    animation: move-battle 0.2s infinite alternate;
    z-index: 7;
}

.back-pokemon-battle {
    position: absolute;
    height: 60vw;
    left: 0;
    bottom: 10%;
    animation: move-battle 0.2s infinite alternate;
    overflow: hidden;
    z-index: 9;
}

@keyframes move-battle {
    0% {
        transform: translateY(0) scale(2.2);
    }

    100% {
        transform: translateY(-.5px) scale(2.2);
    }
}

#bright {
    height: 30vw;
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(0) invert(1);
}

/* Transitions */
.front-pokemon-battle-enter-right {
    position: absolute;
    height: 30vw;
    right: 10%;
    bottom: 50%;
    animation: move-battle-presentation-right 1.4s linear forwards;
    overflow: hidden;
}
@keyframes move-battle-presentation-right {
    0% {
        transform: translateX(-250%) scale(2.2);
    }
  
    100% {
        transform: translateX(0) scale(2.2);
    }
}

.back-pokemon-battle-enter-left {
    position: absolute;
    height: 60vw;
    left: 0;
    bottom: 10%;
    animation: move-battle-presentation-left 1.3s linear forwards;
    overflow: hidden;
}
@keyframes move-battle-presentation-left {
    0% {
        transform: translateX(250%) scale(2.2);
    }
  
    100% {
        transform: translateX(0%) scale(2.2);
    }
  }
  
.front-pokemon-battle-flee-right {
    position: absolute;
    height: 30vw;
    right: 10%;
    bottom: 50%;
    animation: move-battle-flee-right 1s linear forwards;
    overflow: hidden;
}
@keyframes move-battle-flee-right {
    0% {
        transform: translateX(0) scale(2.2);
    }
  
    100% {
        transform: translateX(850%) scale(2.2);
    }
}
